.newGame__container{
    padding: 10px 20px ;
    border : 1px solid white ;
    background-color:  rgba(255,255,255,0.2) ;
    border-radius:  10px ;
    color:  white;
    font-size: 1.2rem;
    cursor: pointer;
    
}


.newGame__container:hover{
    background-color: rgba(255,255,255,0.5);
    transform: scale(1.1); 
    transition: all 0.1s linear;
    color:  whitesmoke;
}