.randomGif__container{
    width : 80% ; 
    height : 60% ; 
    border:  1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap : 10px ;
    background-color: black;
    
}


.gif{
    width: 80%;
    height : 70% ;
    margin: 0 auto ;
    

}



.gif img{
    width: 100% ;
    height: 100%;

    object-fit: contain;
}




.generate{
    border: none ;
    outline: none;
    font-size : 1.1rem ;
    padding : 10px 20px ;
    cursor: pointer;
    border-radius: 10px;

}

.generate:hover{
    background-color: blue ;
    color: white;
    transform: scale(1.05);
    transition: all 0.2s ease-out;
}